<ion-content class='home-background'>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h3>Welcome to WorkBee</h3>
      <p> Sign in to continue</p>
    </div>
    <form [formGroup]='form'>
      <div class="login-form ion-padding">
        <div class="form-input">
          <ion-icon name="mail-unread-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type='email' formControlName='email'></ion-input>
          </ion-item>
        </div>
        <ion-label color='danger' *ngIf="form.get('email').touched && form.get('email').errors?.email">Email is Invalid</ion-label>
        <div class="form-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type='password' formControlName='password'></ion-input>
          </ion-item>
        </div>
      </div>
      <div class="action-button ion-padding">
        <ion-button class='forgot-password' size='small' fill='clear' (click)="forgotPassword()">Forgot Password?</ion-button>
        <ion-button class='login-button' color='primary' size="large" shape="round" [disabled]='!form.valid' (click)="login()">Login</ion-button>
        <p>Create a new account ? <ion-button class='signup-button' size='small' fill='clear' (click)="signup()">Sign Up
          </ion-button>
        </p>
      </div>
    </form>
  </div>
</ion-content>